[color]
  ui = auto
[init]
  defaultBranch = main
[checkout]
  defaultRemote = origin
[grep]
  lineNumber = true
[pull]
  rebase = true
[diff]
  tool = vimdiff
[push]
  default = current
[alias]
  co = checkout
  st = status
  aa = add --all --verbose .
  oneline = log --pretty=format:\"%h %ad%x20%s%x20%x28%an%x29\" --date=short
  ds = diff --staged
[pager]
  log = diff-highlight | less -r
  show = diff-highlight | less -r
  diff = diff-highlight | less -r
[interactive]
  diffFilter = diff-highlight
[include]
  path = ~/.gitconfig.local
