[core]
  pager = diff-highlight | less -FRi
  excludesfile = ~/.gitignore
[color]
  ui = auto
[init]
  defaultBranch = main
[checkout]
  defaultRemote = origin
[grep]
  lineNumber = true
[pull]
  rebase = true
[diff]
  tool = vimdiff
[push]
  default = current
[alias]
  co = checkout
  st = status
  aa = add --all --verbose .
  oneline = log --pretty=format:'%h %ad%x20%s%x20%x28%an%x29' --date=short
  ds = diff --staged
[interactive]
  diffFilter = diff-highlight
[include]
  path = ~/.gitconfig.local
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[merge]
  conflictStyle = diff3
[rebase]
  autosquash = true
  autostash = true
